body{
    font-family: Arial;
    margin:0;
    background:#fff8f0;
}

header{
    background:#8b0000;
    color:white;
    padding:15px;
    text-align:center;
}

nav a{
    color:white;
    margin:10px;
    text-decoration:none;
    font-weight:bold;
}

.hero{
    text-align:center;
    padding:50px;
}

.btn{
    background:#ff6600;
    color:white;
    padding:10px 20px;
    text-decoration:none;
}

section{
    padding:30px;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:10px;
}
